.burger {
  display: none;
}

@media screen and (max-width: 320px) {
  .menu {
    display: none;
    font-size: 10px;
  }
  .burger {
    display: block;
  }
}

@media screen and (min-width: 600px) {
  .menu {
    font-size: 32px;
  }
}
